*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color: khaki;
}

.contenedor{
    background-color: lawngreen;
    padding: 40px;
}

.contenedor .articulo__fondo{
    height: 400px;
    background-image: url("https://assets.pokemon.com/assets/cms2-es-es/img/video-games/_tiles/pokemon-sword-shield/distributions/pikachu/pikachu-08-169.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px;
    padding: 50px;
    
}